.App {
  text-align: center;
}

header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  min-height: 10vh
}

.header-logo {
  height: 3em;
}

main {  
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 90vh;
  min-width: 100vw;
  
  position: absolute;
  top: calc(50% + 10vh);
  left: 50%;
  transform: translate(-50%, calc(-50% - 5vh));
}

#text-input-col{
  font-family: "Nirmala UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  width: 90%;
  margin: 2.5%;
}

.text-warning {
  color: #ee004c !important;
}

#text-input-col > p {
  font-family: monospace;
  color: #6a6060;
  font-size: 0.8em;
  float: right;
}

textarea {
  background: none;
  border: none;
  border-radius: 4px;
  font-family: monospace;
  min-height: 40vh;
  width: calc(100% - 2em);
  resize: none;
  box-shadow: inset 0px 0px 4px #ccc;
  padding: 1em;
  font-size: 1.1em;
  margin-top: 1em;
  color: #6a6060;
}

textarea:focus {
  outline: none;
  box-shadow: inset 0px 0px 4px #fca46d;
}

#results {
  border-top: 1px solid rgb(234, 234, 234);
  width: 90%;
  height: 15vh;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:not(:last-child) {
  border-bottom: 1px solid rgb(234, 234, 234);
}

td:first-child {
  font-weight: bold;
}

td {
  padding: 0.4em;
}

footer {
  display: inline-block;
  position: absolute;
  bottom: 2em;
  right: 1em;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  transition: all .2s ease-in-out;
  filter: brightness(0.28);
}

footer:hover {
  transform: scale(1.05);
}

footer > a {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px;
  color: #ffffff;
  text-decoration: none;
}

footer > a > img {
  vertical-align: bottom;
  height: 1.25em;
}

@media (min-width:961px)  { 
  header {
    min-height: 15vh;
  }

  main {
    flex-direction: row;
    min-height: 65vh;
    min-width: 65vw;
    border-radius: 4px; 
    justify-content: space-around;

    top: calc(50% + 15vh);
    left: 50%;
    transform: translate(-50%, calc(-50% - 7.5vh));
  }

  #text-input-col {
    min-height: none;
    height: 50vh;
    width: calc(70% - 5%);
    margin: 2.5%;
  }

  #results {
    border-top: none;
    border-left: 1px solid rgb(234, 234, 234);
    padding-left: 2em;
    width: 30%;
    height: 50vh;
  }

  table {
    width: 90%;
  }

  footer {
    bottom: 1em;
    filter: none;
  }
}