.App {
  text-align: center;
}

header {
  background-color: #ffffff;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0px 0px 4px #ccc;
}

.header-logo {
  height: 3em;
}

main {  
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px; 
  box-shadow: 0px 0px 4px #ccc;
  min-height: 60vh;
  min-width: 65vw;
  
  position: absolute;
  top: calc(50% + 15vh);
  left: 50%;
  transform: translate(-50%, calc(-50% - 7.5vh));
}

#text-input-col{
  font-family: "Nirmala UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  height: 50vh;
  width: calc(70% - 5%);
  margin: 2.5%;
}

.text-warning {
  color: #ee004c !important;
}

#text-input-col > p {
  font-family: monospace;
  color: #6a6060;
  font-size: 0.8em;
  float: right;
}

textarea {
  background: none;
  border: none;
  border-radius: 4px;
  font-family: monospace;
  height: calc(90% - 2em);
  width: calc(100% - 2em);
  resize: none;
  box-shadow: inset 0px 0px 4px #ccc;
  padding: 1em;
  font-size: 1.1em;
  margin-top: 1em;
  color: #6a6060;
}

textarea:focus {
  outline: none;
  box-shadow: inset 0px 0px 4px #fca46d;
}

#results {
  border-left: 1px solid rgb(234, 234, 234);
  padding-left: 2em;
  width: 30%;
  height: 50vh;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:not(:last-child) {
  border-bottom: 1px solid rgb(234, 234, 234);
}

td:first-child {
  font-weight: bold;
}

td {
  padding-bottom: 0.4em;
}